@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 100;
  padding: 74px 40px 0 40px;
  overflow-y: auto;
}
.sidebar__logo {
  margin-bottom: 47px;
}
@media (max-width: 1230px) {
  .sidebar__logo {
    margin-bottom: 0;
  }
}
.sidebar__logo img {
  width: 200px;
  height: auto;
}
@media (max-width: 520px) {
  .sidebar__logo img {
    width: 100px;
  }
}
@media (max-width: 1230px) {
  .sidebar__nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .sidebar__nav {
    display: none;
  }
}
@media (max-width: 1230px) {
  .sidebar__nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
@media (max-width: 1230px) {
  .sidebar__nav-item .sidebar__nav-child {
    display: none !important;
  }
}
.sidebar__nav-link--parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 9px 0 17px;
  margin-bottom: 6px;
  cursor: pointer;
  border-bottom: 1px solid #B1C6DC;
}
.sidebar__nav-link--contact {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 22px 0 22px 0;
  border-bottom: 1px solid #B1C6DC;
}
.sidebar__icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.sidebar__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #3d7ab5;
  transform: translateY(-50%);
  font-weight: 400;
}
.sidebar__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #3d7ab5;
  transform: translateX(-50%);
  transition: transform 0.3s;
  font-weight: 400;
}
.sidebar__nav-child {
  display: none;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 17px;
  margin-bottom: 16px;
  border-bottom: 1px solid #B1C6DC;
}
.sidebar__nav-child li a {
  display: block;
  font-size: 14px;
  color: #333333;
  padding: 3px 0;
  transition: color 0.2s;
  font-weight: 700;
  padding-bottom: 11px;
}
.sidebar__nav-child li a:hover {
  color: #3d7ab5;
}
.sidebar__nav-child li:last-child a {
  padding-bottom: 0;
}
.sidebar .is-open .sidebar__nav-child {
  display: block;
}
.sidebar .is-open .sidebar__icon::after {
  transform: translateX(-50%) rotate(90deg);
}
@media (max-width: 1230px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px 40px;
    border-right: none;
    overflow-y: visible;
  }
}
@media (max-width: 768px) {
  .sidebar {
    padding: 0;
  }
}
@media (max-width: 1230px) {
  .sidebar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1230px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 100px;
    height: 100px;
    background: #3d7ab5;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
}
@media (max-width: 1230px) and (max-width: 520px) {
  .hamburger {
    width: 56px;
    height: 56px;
    gap: 12px;
  }
}
@media (max-width: 1230px) {
  .hamburger span {
    display: block;
    width: 45px;
    height: 2px;
    background: #fff;
    transition: transform 0.3s, opacity 0.3s;
  }
}
@media (max-width: 1230px) and (max-width: 520px) {
  .hamburger span {
    width: 32px;
    height: 1px;
  }
}
.hamburger.is-open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.sp-nav {
  position: fixed;
  top: 0%;
  left: 50;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.sp-nav.is-open {
  opacity: 1;
  visibility: visible;
}
.sp-nav__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sp-nav__logo {
  width: 120px;
}
.sp-nav__close {
  width: 56px;
  height: 56px;
  background: #3d7ab5;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.sp-nav__close span {
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}
.sp-nav__close span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.sp-nav__close span:nth-child(2) {
  opacity: 0;
}
.sp-nav__close span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.sp-nav__list {
  padding: 0 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.sp-nav__item {
  text-align: center;
}
.sp-nav__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px 8px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  transition: color 0.2s;
}
.sp-nav__item a:hover {
  color: #3d7ab5;
}
.sp-nav__item a img {
  width: 16px;
}
@media (max-width: 768px) {
  .sp-nav__item a {
    padding: 3px;
  }
}
.sp-nav__copyright {
  text-align: center;
}
@media (min-width: 1231px) {
  .sp-nav {
    display: none;
  }
}

.footer {
  margin-top: 60px;
  margin-left: 280px;
  width: calc(100% - 280px);
  background: #fff;
  color: #333333;
  padding-bottom: 10px;
}
@media (max-width: 1230px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}
.footer__inner {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1080px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
  }
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1230px) {
  .footer__left {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .footer__left {
    padding-right: 0;
    align-items: center;
  }
}
.footer__logo {
  width: 222px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.footer__logo img {
  width: 100%;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 3px;
}
@media (max-width: 1040px) {
  .footer__info {
    align-items: center;
  }
}
.footer__address, .footer__hours, .footer__holiday {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 768px) {
  .footer__address, .footer__hours, .footer__holiday {
    font-size: 12px;
  }
}
.footer__nav {
  width: 56%;
  margin-top: 35px;
}
@media (max-width: 1230px) {
  .footer__nav {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    margin-bottom: 55px;
  }
}
.footer__nav-list {
  display: flex;
}
@media (max-width: 1080px) {
  .footer__nav-list {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav-item {
  padding-right: 24px;
  padding-bottom: 30px;
}
.footer__nav-item :last-child {
  padding-bottom: 0;
  padding-right: 0;
}
.footer__nav-item a {
  font-size: 16px;
  color: #333333;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.footer__nav-item a:hover {
  color: #666666;
}
.footer__nav-item a img {
  display: inline-block;
  width: 14px;
  filter: none;
  margin-right: 8px;
}
@media (max-width: 1120px) {
  .footer__nav-item {
    padding-right: 0;
    padding-bottom: 0;
    padding: 10px;
  }
}
.footer__copyright {
  text-align: right;
  font-size: 14px;
  color: #666666;
  padding: 16px 64px;
}
@media (max-width: 768px) {
  .footer__copyright {
    text-align: center;
  }
}

.main {
  margin-left: 280px;
  width: calc(100% - 280px);
}
@media (max-width: 1230px) {
  .main {
    margin-left: 0;
    width: 100%;
    margin-top: 190px;
  }
}
@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
    margin-top: 100px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 15px;
  }
}

.wrapper-l {
  padding-left: 0;
}
@media (max-width: 1230px) {
  .wrapper-l {
    padding-inline: 40px;
  }
}

.section {
  padding: 32px 24px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.section__label {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 13px;
}

.section__title {
  font-size: clamp(72px, 10vw, 128px);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #4282B8;
  line-height: 1;
  margin-bottom: 40px;
  font-family: "Kanit", sans-serif;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 22px 35px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  margin-left: 3px;
}
.btn--outline {
  border: 1.5px solid #333333;
  color: #333333;
  background: transparent;
  position: relative;
}
.btn--outline::after {
  content: "●";
  font-size: 10px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.btn--outline:hover {
  background: #333333;
  color: #fff;
}
.btn--outline:hover::after {
  color: #fff;
}
.btn--primary {
  background: #3d7ab5;
  color: #fff;
  border: 1.5px solid #3d7ab5;
}
.btn--primary:hover {
  background: #2c5f8a;
}
.btn__arrow {
  font-size: 10px;
}
.btn__dot {
  font-size: 8px;
  align-items: center;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.6s ease;
}
.loading.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.loading__logo {
  width: 200px;
  height: auto;
  animation: loading-pulse 1.4s ease-in-out infinite;
}

@keyframes loading-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
.fv {
  position: relative;
  min-height: 60vh;
}
.fv__inner {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .fv__inner {
    margin: 0;
    width: 100%;
    min-width: 55vh;
  }
}
@media (max-width: 1000px) {
  .fv__inner {
    margin: 0;
    width: 100%;
    height: 70vh;
  }
}
@media (max-width: 850px) {
  .fv__inner {
    height: 500px;
  }
}
.fv::after {
  position: absolute;
  left: 41%;
  top: -20%;
  content: "";
  width: 727px;
  height: 727px;
  background-color: #3d7ab5;
  z-index: -1;
}
@media (max-width: 1000px) {
  .fv::after {
    display: none;
  }
}
.fv__box {
  width: 100%;
}
@media (max-width: 1000px) {
  .fv__box {
    position: static;
    width: 100%;
    padding: 0;
  }
}
.fv__illust {
  margin-top: 20px;
  max-width: 1120px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.fv__illust img {
  border-radius: 50px;
}
@media (max-width: 1000px) {
  .fv__illust {
    border-radius: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: block;
  }
}
.fv__illust1, .fv__illust2, .fv__illust3, .fv__illust4, .fv__illust5 {
  display: none;
}
.fv__content {
  position: absolute;
  bottom: 5%;
  left: 40%;
  z-index: 1;
  text-align: right;
}
@media (max-width: 1370px) {
  .fv__content {
    right: 8%;
    bottom: 20%;
  }
}
@media (max-width: 1000px) {
  .fv__content {
    right: 8%;
    bottom: 20%;
  }
}
@media (max-width: 850px) {
  .fv__content {
    right: 15%;
    bottom: 30%;
  }
}
.fv__catch {
  font-size: clamp(1.5rem, 0.62rem + 3.76vw, 4rem);
  font-weight: 700;
  color: #333333;
  margin-bottom: 16px;
  line-height: 1.3;
  background-color: #ffffff;
  text-align: center;
  padding: 14px;
  border-radius: 10px;
}
.fv__text {
  font-size: 16px;
  color: #333333;
  line-height: 2;
  text-align: left;
  font-weight: 700;
}
@media (max-width: 850px) {
  .fv__text {
    font-size: 14px;
  }
}
.fv__scroll-down {
  position: absolute;
  bottom: -9%;
  left: 10;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #4282B8;
}
@media (max-width: 1000px) {
  .fv__scroll-down {
    bottom: 25%;
  }
}
.fv__scroll-down p {
  font-size: 11px;
  font-weight: 700;
}
.fv__scroll-down::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  background: #4282B8;
}
@media (max-width: 1000px) {
  .fv__scroll-down {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .fv {
    background: #F8F8F8;
    height: 500px;
  }
  .fv__inner {
    height: 290px;
  }
  .fv__illust {
    position: static;
    display: none;
  }
  .fv__illust1, .fv__illust2, .fv__illust3, .fv__illust4, .fv__illust5 {
    display: block;
    width: 135px;
  }
  .fv__illust1 {
    position: absolute;
    left: 6%;
    top: 2%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .fv__illust1 {
    width: 103px;
  }
}
@media (max-width: 768px) {
  .fv__illust2 {
    position: absolute;
    left: 5%;
    top: 28%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .fv__illust2 {
    width: 110px;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .fv__illust3 {
    position: absolute;
    right: 10%;
    top: 5%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .fv__illust3 {
    right: 7%;
    width: 134px;
  }
}
@media (max-width: 768px) {
  .fv__illust4 {
    position: absolute;
    right: 40%;
    top: 27%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .fv__illust4 {
    width: 82px;
    right: 40%;
  }
}
@media (max-width: 768px) {
  .fv__illust5 {
    position: absolute;
    right: 7%;
    top: 35%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .fv__illust5 {
    width: 88px;
    right: 8%;
    top: 33%;
  }
}
@media (max-width: 768px) {
  .fv__content {
    position: absolute;
    left: 2%;
    bottom: 33%;
    right: 0;
    text-align: left;
  }
  .fv__catch {
    display: inline-block;
    padding: 14px 13px;
  }
  .fv__text {
    font-size: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
  }
  .fv__scroll-down {
    bottom: 21%;
    left: 2%;
  }
}

.photo-slider {
  position: relative;
  padding: 63px 48px;
  margin-top: 90px;
  background-color: #f5f5f5;
}
@media (max-width: 1000px) {
  .photo-slider {
    margin-top: 0;
  }
}
.photo-slider__swiper {
  max-width: 100%;
}
.photo-slider__text {
  position: absolute;
  right: 180px;
  top: 55%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 23px 25px;
  z-index: 1;
}
@media (max-width: 1230px) {
  .photo-slider__text {
    right: 6%;
  }
}
@media (max-width: 768px) {
  .photo-slider__text {
    padding: 16px 24px;
  }
}
@media (max-width: 375px) {
  .photo-slider__text {
    right: 30px;
  }
}
.photo-slider__text p {
  writing-mode: vertical-rl;
  font-size: clamp(1.5rem, 0.848rem + 2.78vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .photo-slider__text p {
    letter-spacing: 0.5em;
  }
}
.photo-slider__text span {
  color: #4282B8;
}
.photo-slider__img {
  position: absolute;
  right: -54%;
  margin-top: 3%;
  width: 100%;
  height: auto;
}
@media (max-width: 1410px) {
  .photo-slider__img {
    right: -45%;
  }
}
@media (max-width: 768px) {
  .photo-slider__img {
    right: 230px;
    width: 60px;
    height: auto;
  }
}
@media (max-width: 375px) {
  .photo-slider__img {
    right: 190px;
  }
}

.photo-slider .swiper-slide {
  width: 360px;
  height: 360px;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .photo-slider .swiper-slide {
    width: 200px;
    height: 200px;
  }
}
.photo-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  margin-top: 64px;
}
.about__content {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 38%;
  font-weight: 400;
}
@media (max-width: 768px) {
  .about__content {
    width: 100%;
  }
}
.about__text-area {
  flex: 1;
}
.about__text {
  font-size: 16px;
  line-height: 1.8;
  margin-right: 40px;
}

.service-intro {
  position: relative;
}
.service-intro__inner {
  margin-top: 132px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .service-intro__inner {
    padding-right: 0;
  }
}
.service-intro__bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20px;
  left: 115px;
  right: 0;
  bottom: 0;
  background: #F8F8F8;
  padding: 0px 0;
  margin-left: 80px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
@media (max-width: 768px) {
  .service-intro__bg {
    margin-left: 0;
    left: 70px;
  }
}
.service-intro__header, .service-intro__item {
  position: relative;
  z-index: 1;
}
.service-intro__header {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.service-intro__header-illust {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 124px;
}
.service-intro__header-illust img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .service-intro__header-illust {
    top: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .service-intro__header-illust {
    width: 69px;
    top: -28%;
  }
}
.service-intro__item {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
.service-intro__item--reverse {
  flex-direction: row-reverse;
  margin-bottom: 30px;
}
.service-intro__item--reverse .service-intro__number {
  right: auto;
  left: 63%;
}
@media (max-width: 768px) {
  .service-intro__item {
    display: flex;
    flex-direction: column;
  }
}
.service-intro__box3 {
  padding-bottom: 100px;
}
.service-intro__ll {
  width: 55% !important;
  padding-right: 80px !important;
}
@media (max-width: 768px) {
  .service-intro__ll {
    width: 100% !important;
    padding-right: 0 !important;
  }
}
.service-intro__second {
  width: 45% !important;
  padding-left: 0 !important;
  margin-top: 210px !important;
}
@media (max-width: 768px) {
  .service-intro__second {
    width: 100% !important;
    margin-top: 0 !important;
  }
}
.service-intro__img {
  width: 47%;
  flex-shrink: 0;
  z-index: 1;
  padding-top: 30px;
}
.service-intro__img img {
  width: 516px;
  height: 464px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .service-intro__img img {
    width: 335p;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  .service-intro__img {
    width: 100%;
  }
}
.service-intro__content {
  width: 53%;
  position: relative;
  margin-top: 224px;
  padding-left: 50px;
  padding-right: 30px;
}
@media (max-width: 935px) {
  .service-intro__content {
    padding: 0;
    padding-left: 30px;
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .service-intro__content {
    width: 100%;
    margin-top: 50px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .service-intro__textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.service-intro__number {
  position: absolute;
  top: -52%;
  right: 63%;
  font-size: 168px;
  font-weight: 700;
  color: #B1C6DC;
  line-height: 1;
  font-family: "Kanit", sans-serif;
}
@media (max-width: 768px) {
  .service-intro__number {
    position: static;
    display: flex;
    font-size: 48px;
    top: 0;
    right: 0;
  }
}
.service-intro__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  background: #ffffff;
  padding: 10px 16px;
  margin-right: 13px;
}
.service-intro__text {
  width: 82%;
  font-size: 16px;
  line-height: 1.8;
  color: #666666;
  margin-bottom: 24px;
  margin-top: 23px;
  margin-left: 14px;
}
.service-intro__btn {
  margin-left: 2px;
  margin-top: 20px;
}

.news__inner {
  margin-top: 80px;
}
.news__list {
  border-top: 1px solid #B1C6DC;
}
.news__item {
  border-bottom: 1px solid #B1C6DC;
  position: relative;
}
.news__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 27px 8px;
  transition: background 0.2s;
  width: 100%;
}
.news__link:hover {
  background: #f5f5f5;
}
.news__link::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-top: 3px solid #4282B8;
  border-right: 3px solid #4282B8;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 5%;
}
.news__meta {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.news__tag {
  display: inline-block;
  width: 116px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 1px 16px;
  border: 1px solid;
  color: #4282B8;
  white-space: nowrap;
}
.news__tag--event {
  color: #3d7ab5;
  border-color: #3d7ab5;
  margin-bottom: 24px;
}
.news__tag--other {
  color: #3d7ab5;
  border-color: #3d7ab5;
  margin-bottom: 24px;
}
.news__date {
  font-size: 14px;
  font-weight: 700;
  color: #4282B8;
  white-space: nowrap;
  margin-bottom: 24px;
}
.news__text {
  font-size: 16px;
  font-weight: 700;
  flex: 1;
}
@media (max-width: 768px) {
  .news__text {
    font-size: 14px;
    padding: 0 35px 0 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 1;
}
.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.modal__content {
  position: relative;
  background: #fff;
  width: 100vw;
  max-width: 1000px;
  padding: 40px;
  overflow: visible;
}
.modal__body {
  max-height: 80vh;
  overflow-y: auto;
  padding-inline: 56px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.modal__close {
  position: absolute;
  top: -10px;
  right: -10%;
  width: 60px;
  height: 60px;
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.modal__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.modal__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}
.modal__img {
  margin-bottom: 20px;
}
.modal__img img {
  width: 100%;
  height: auto;
}
.modal__text {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 20px;
}
.modal__btn {
  font-size: 16px;
  text-align: center;
}
@media (max-width: 1030px) {
  .modal__content {
    width: 70vw;
    max-width: 860px;
    padding: 15px;
  }
  .modal__body {
    padding: 24px 10px;
  }
}
@media (max-width: 780px) {
  .modal__close {
    position: absolute;
    top: -10px;
    right: -18%;
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .modal__content {
    width: 92vw;
    padding: 10px;
  }
  .modal__body {
    max-height: 88vh;
    padding-inline: 16px;
  }
  .modal__title {
    font-size: clamp(0.875rem, 0.279rem + 2.54vw, 1.5rem);
  }
  .modal__btn {
    width: 180px;
    padding-inline: 20px;
  }
  .modal__close {
    top: 0;
    right: 3%;
    color: #3d7ab5;
  }
}

body.is-modal-open {
  overflow: hidden;
}

.contact {
  position: relative;
  background: #F8F8F8;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: 100px;
}
@media (max-width: 810px) {
  .contact {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.contact__inner {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 2px;
  padding-bottom: 20px;
}
@media (max-width: 810px) {
  .contact__inner {
    gap: 20px;
  }
}
.contact__tel {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contact__tel-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.contact__tel-en {
  font-size: 32px;
  font-family: "Kanit", sans-serif;
}
.contact__tel-ja {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}
.contact__tel-info {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-left: 30px;
  padding-right: 38px;
}
@media (max-width: 810px) {
  .contact__tel-info {
    padding-inline: 15px;
  }
}
.contact__tel-number {
  display: block;
  font-size: 32px;
  font-family: "Kanit", sans-serif;
}
.contact__tel-hours {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}
.contact__mail {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  font-size: 16px;
  width: 280px;
}
.contact__mail img {
  width: 20px;
}
.contact__illust {
  position: absolute;
  right: 2%;
  bottom: 20%;
}
.contact__illust img {
  width: 100%;
}
@media (max-width: 960px) {
  .contact {
    padding: 25px 15px;
  }
  .contact__illust {
    width: 120px;
    bottom: 50%;
  }
}
@media (max-width: 768px) {
  .contact__inner {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .contact__tel-info {
    border-right: none;
  }
}
@media (max-width: 520px) {
  .contact__inner {
    padding-inline: 12px;
  }
  .contact__tel {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
    width: 100%;
  }
  .contact__tel-label {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .contact__illust {
    width: 60px;
    bottom: 90%;
  }
  .contact__tel-info {
    display: inline-block;
    border-top: 1px solid #000000;
    border-left: none;
    padding: 0;
    width: 100%;
    padding-top: 10px;
  }
}

.wrapper-q {
  padding-left: 0;
}
@media (max-width: 1230px) {
  .wrapper-q {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-q {
    margin-top: 200px;
  }
}

/* =========================================
    FV（ヘッダー画像）
========================================= */
.about-fv {
  position: relative;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .about-fv {
    padding-right: 0;
  }
}
.about-fv__inner {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}
.about-fv__imgs {
  max-width: 1120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.about-fv__imgs img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
@media (max-width: 1000px) {
  .about-fv__imgs img {
    padding-right: 0;
    border-radius: 0;
  }
}
.about-fv::after {
  position: absolute;
  left: 41%;
  top: -10%;
  content: "";
  width: 727px;
  height: 600px;
  background-color: #3d7ab5;
  z-index: -1;
}
@media (max-width: 1000px) {
  .about-fv::after {
    display: none;
  }
}

/* =========================================
    about
========================================= */
.about {
  position: relative;
  margin-bottom: 73px;
}
.about__inner {
  width: 70%;
}
.about__label {
  font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
  margin-bottom: 55px;
}
.about__textimg {
  display: flex;
}
.about__img {
  position: absolute;
  top: 3%;
  left: 48%;
}
@media (max-width: 1070px) {
  .about__img {
    width: 100px;
    top: -15%;
  }
}
@media (max-width: 480px) {
  .about__img {
    width: 70px;
  }
}
.about__btn {
  display: flex;
  gap: 29px;
  margin-top: 39px;
}
@media (max-width: 525px) {
  .about__btn {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about__btn-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  width: 205px;
  height: 61px;
  border: 1px solid #4282B8;
  border-radius: 10px;
}
.about__btn-l::after {
  content: "";
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #3d7ab5;
  border-bottom: 3px solid #3d7ab5;
  transform: rotate(45deg);
}
.about__btn-l:hover {
  background-color: #4282B8;
  color: #fff;
}
.about__btn-l:hover::after {
  border-color: #fff;
}
@media (max-width: 768px) {
  .about {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .about__inner {
    width: 100%;
  }
  .about__img {
    position: absolute;
    top: -17%;
    left: 70%;
  }
  .about__text br {
    display: none;
  }
  .about__label {
    margin-bottom: 35px;
  }
}

.philosophy {
  margin-bottom: 40px;
}
.philosophy__label {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  margin-bottom: 50px;
}
.philosophy__img img {
  max-width: 927px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.company {
  margin-bottom: 56px;
}
.company__label {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  margin-bottom: 58px;
}
.company__inner {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .company__inner {
    flex-direction: column;
    align-items: center;
  }
}
.company__imgbox {
  width: 51%;
}
@media (max-width: 768px) {
  .company__imgbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
.company__imgbox img {
  width: 331px;
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .company__imgbox img {
    width: 220px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.company__imgbox p {
  margin-bottom: 10px;
}
.company__shatyo {
  color: #4282B8;
  font-size: 32px;
}
.company__text {
  width: 49%;
  margin-right: 152px;
  line-height: 1.8;
}
@media (max-width: 1040px) {
  .company__text {
    margin-right: 80px;
  }
}
@media (max-width: 768px) {
  .company__text {
    width: 100%;
    margin-right: 0;
  }
}
.company__table {
  margin-top: 65px;
  padding-right: 60px;
}
@media (max-width: 810px) {
  .company__table {
    padding-right: 0;
  }
}
.company__row {
  display: flex;
  align-items: center;
  padding: 15px 8px 20px 1px;
  border-bottom: 1px solid #B1C6DC;
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .company__row {
    flex-direction: column;
    align-items: baseline;
  }
}
.company__term {
  width: 240px;
  flex-shrink: 0;
  font-weight: 700;
}
@media (max-width: 768px) {
  .company__term {
    width: 110px;
  }
}
.company__desc {
  margin: 0;
}
@media (max-width: 520px) {
  .company__desc {
    font-size: 14px;
  }
}

.safety {
  margin-bottom: 190px;
}
.safety__label {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .safety__label {
    margin-bottom: 40px;
  }
}
.safety__text-box {
  display: flex;
  gap: 44px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .safety__text-box {
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;
  }
}
.safety__title {
  font-size: clamp(1rem, 0.824rem + 0.75vw, 1.5rem);
  margin-bottom: 30px;
}
.safety__text {
  line-height: 1.8;
  width: 58%;
}
@media (max-width: 768px) {
  .safety__text {
    width: 100%;
    margin-bottom: 30px;
  }
}
.safety__img {
  width: 35%;
}
.safety__img img {
  width: 267px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .safety__img {
    width: 100%;
  }
}

/* =========================================
    FV（ヘッダー画像）
========================================= */
.service-fv {
  position: relative;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .service-fv {
    padding-right: 0;
  }
}
.service-fv__inner {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 43px;
}
.service-fv__imgs {
  max-width: 1120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.service-fv__imgs img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 45px;
}
@media (max-width: 1000px) {
  .service-fv__imgs img {
    padding-right: 0;
    border-radius: 0;
  }
}
.service-fv::after {
  position: absolute;
  left: 41%;
  top: -20%;
  content: "";
  width: 727px;
  height: 650px;
  background-color: #3d7ab5;
  z-index: -1;
}
@media (max-width: 1000px) {
  .service-fv::after {
    display: none;
  }
}

/* =========================================
    service
========================================= */
.service {
  position: relative;
  margin-top: 69px;
}
.service__label {
  font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
  margin-bottom: 55px;
}
.service__textimg {
  display: flex;
}
.service__text {
  width: 38%;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .service__text {
    width: 100%;
  }
}
.service__img {
  position: absolute;
  top: -55%;
  left: 48%;
}
.service__img img {
  width: 165px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1070px) {
  .service__img {
    width: 100px;
    top: -24%;
  }
}
@media (max-width: 480px) {
  .service__img {
    padding-top: 100px;
    width: 90px;
  }
}
.service__btn {
  display: flex;
  gap: 29px;
  margin-top: 43px;
}
@media (max-width: 630px) {
  .service__btn {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.service__btn-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  width: 205px;
  height: 61px;
  border: 1px solid #4282B8;
  border-radius: 10px;
}
.service__btn-l::after {
  content: "";
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #3d7ab5;
  border-bottom: 3px solid #3d7ab5;
  transform: rotate(45deg);
}
.service__btn-l:hover {
  background-color: #4282B8;
  color: #fff;
}
.service__btn-l:hover::after {
  border-color: #fff;
}
@media (max-width: 768px) {
  .service {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .service__inner {
    width: 100%;
  }
  .service__img {
    position: absolute;
    top: -28%;
    left: 70%;
  }
  .service__text br {
    display: none;
  }
  .service__label {
    margin-bottom: 35px;
  }
}

.wrapper-ll {
  padding-left: 0;
}
@media (max-width: 1230px) {
  .wrapper-ll {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .wrapper-ll {
    padding-inline: 20px;
  }
}

.business__inner {
  max-width: 960px;
  width: 100%;
  height: auto;
  padding-inline: 50px;
}
.business__title {
  margin-top: 56px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 28px;
  border-bottom: 1px solid #B1C6DC;
}
.business__imgs {
  margin-top: 73px;
}
.business__imgs img {
  max-width: 960px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.business__lead {
  display: flex;
  margin-top: 20px;
  margin-bottom: 110px;
}
.business__lead-main {
  font-size: 20px;
  font-weight: 700;
  width: 44%;
  margin-right: 54px;
  line-height: 1.8;
  flex-shrink: 1;
}
.business__lead-sub {
  width: 56%;
  line-height: 1.8;
}
.business__examples {
  display: flex;
  gap: 62px;
}
.business__card-img img {
  width: 352px;
  height: 274px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.business__card-title {
  padding-bottom: 20px;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
}
.business__card-meta {
  padding-top: 15px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .business__inner {
    padding-inline: 20px;
  }
  .business__lead {
    display: flex;
    flex-direction: column;
  }
  .business__lead-main {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    margin-right: 0;
    line-height: 1.8;
    margin-bottom: 15px;
  }
  .business__lead-sub {
    width: 100%;
  }
  .business__examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .business__card {
    margin-bottom: 30px;
  }
}

.corporate__title {
  margin-top: 40px;
  padding-bottom: 30px;
}

.corporate__lead {
  margin-bottom: 140px;
}

.public__title {
  margin-top: 45px;
}

.public__lead {
  margin-bottom: 140px;
}

.servicecontact {
  margin-top: 60px;
}

.contact-fv {
  position: relative;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .contact-fv {
    padding-right: 0;
  }
}
.contact-fv__inner {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 43px;
}
.contact-fv__imgs {
  max-width: 1120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.contact-fv__imgs img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 45px;
}
@media (max-width: 1000px) {
  .contact-fv__imgs img {
    padding-right: 0;
    border-radius: 0;
  }
}
.contact-fv::after {
  position: absolute;
  left: 41%;
  top: -20%;
  content: "";
  width: 727px;
  height: 650px;
  background-color: #3d7ab5;
  z-index: -1;
}
@media (max-width: 1000px) {
  .contact-fv::after {
    display: none;
  }
}

/* ===== お問い合わせフォーム セクション ===== */
.mailform {
  margin: 70px 0 100px;
}
.mailform__box {
  width: 38%;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 830px) {
  .mailform__box {
    width: 100%;
  }
}
.mailform__label {
  margin-bottom: 27px;
  font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
}
.mailform__img {
  position: absolute;
  right: -68%;
  top: -70%;
}
@media (max-width: 830px) {
  .mailform__img {
    position: absolute;
    right: 0%;
    top: -120%;
  }
}
@media (max-width: 410px) {
  .mailform__img {
    position: absolute;
    right: 0%;
    top: -90%;
  }
}
.mailform__img img {
  width: 165px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 830px) {
  .mailform__img img {
    width: 100px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.mailform__main {
  flex: 1;
}
.mailform__side {
  width: 300px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .mailform__side {
    width: 100%;
  }
}
.mailform__lead {
  margin-top: 24px;
  line-height: 1.8;
}
.mailform__tel-label {
  margin-top: 30px;
  font-weight: 700;
}
@media (max-width: 830px) {
  .mailform__tel-label {
    margin-top: 0;
  }
}
.mailform__tel {
  font-size: 32px;
  margin-top: 13px;
  font-family: "Kanit", sans-serif;
}
.mailform__hours {
  font-size: 14px;
  color: #666666;
}

/* ===== ステップ表示 ===== */
.step {
  display: flex;
  align-items: center;
  margin: 17px 0 40px;
  margin-right: 150px;
}
@media (max-width: 950px) {
  .step {
    margin-right: 40px;
  }
}
.step__box {
  display: flex;
}
@media (max-width: 830px) {
  .step__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.step__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 209px;
  padding: 2px 0;
  border: 1px solid #3d7ab5;
  color: #3d7ab5;
}
.step__item--active {
  background-color: #3d7ab5;
  color: #fff;
}
.step__num {
  font-size: 12px;
  font-weight: 700;
}
.step__text {
  font-weight: 700;
}
.step__line {
  width: 52px;
  height: 1px;
  background-color: #3d7ab5;
}

/* ===== フォーム ===== */
.contact-form {
  margin-top: 7px;
  width: 42%;
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form__group {
  margin-bottom: 0px;
  border: none;
  padding: 0;
}
.contact-form__label {
  display: block;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 24px;
}
.contact-form__req {
  color: red;
  font-size: 12px;
}
.contact-form__label-top {
  margin-bottom: 18px;
}
.contact-form__label-two {
  margin-top: 11px;
  margin-bottom: 21px;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel] {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #B1C6DC;
  background-color: #f5f5f5;
}
.contact-form input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 2px solid #4282B8;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
.contact-form input[type=radio]:checked {
  background-color: #4282B8;
  box-shadow: inset 0 0 0 3px #fff;
}
.contact-form input::-moz-placeholder {
  color: #C2C2C2;
}
.contact-form input::placeholder {
  color: #C2C2C2;
}
.contact-form input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #4282B8;
  border-radius: 0;
  cursor: pointer;
  vertical-align: middle;
}
.contact-form input[type=checkbox]:checked {
  background-color: #4282B8;
}
.contact-form input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.contact-form__name {
  display: flex;
  gap: 37px;
}
.contact-form fieldset label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: pointer;
}
.contact-form__hissu {
  font-size: 12px;
}
.contact-form__check {
  margin-top: 45px;
  margin-bottom: 70px;
  text-align: center;
}
.contact-form__submit {
  position: relative;
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  background-color: #4282B8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.contact-form__submit::after {
  content: "";
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.contact-form__submit:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.contact-form__botan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-lll {
  padding-left: 0;
}
@media (max-width: 1230px) {
  .wrapper-lll {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact-fv {
  position: relative;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .contact-fv {
    padding-right: 0;
  }
}
.contact-fv__inner {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 43px;
}
.contact-fv__imgs {
  max-width: 1120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.contact-fv__imgs img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 45px;
}
@media (max-width: 1000px) {
  .contact-fv__imgs img {
    padding-right: 0;
    border-radius: 0;
  }
}
.contact-fv::after {
  position: absolute;
  left: 41%;
  top: -20%;
  content: "";
  width: 727px;
  height: 650px;
  background-color: #3d7ab5;
  z-index: -1;
}
@media (max-width: 1000px) {
  .contact-fv::after {
    display: none;
  }
}

/* ===== お問い合わせフォーム セクション ===== */
.mailform {
  margin: 70px 0 100px;
}
.mailform__box {
  width: 38%;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 830px) {
  .mailform__box {
    width: 100%;
  }
}
.mailform__label {
  margin-bottom: 27px;
  font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
}
.mailform__img {
  position: absolute;
  right: -68%;
  top: -70%;
}
@media (max-width: 830px) {
  .mailform__img {
    position: absolute;
    right: 0%;
    top: -120%;
  }
}
@media (max-width: 410px) {
  .mailform__img {
    position: absolute;
    right: 0%;
    top: -90%;
  }
}
.mailform__img img {
  width: 165px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 830px) {
  .mailform__img img {
    width: 100px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.mailform__main {
  flex: 1;
}
.mailform__side {
  width: 300px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .mailform__side {
    width: 100%;
  }
}
.mailform__lead {
  margin-top: 24px;
  line-height: 1.8;
}
.mailform__tel-label {
  margin-top: 30px;
  font-weight: 700;
}
@media (max-width: 830px) {
  .mailform__tel-label {
    margin-top: 0;
  }
}
.mailform__tel {
  font-size: 32px;
  margin-top: 13px;
  font-family: "Kanit", sans-serif;
}
.mailform__hours {
  font-size: 14px;
  color: #666666;
}

/* ===== ステップ表示 ===== */
.step {
  display: flex;
  align-items: center;
  margin: 17px 0 40px;
  margin-right: 150px;
}
@media (max-width: 950px) {
  .step {
    margin-right: 40px;
  }
}
.step__box {
  display: flex;
}
@media (max-width: 830px) {
  .step__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.step__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 209px;
  padding: 2px 0;
  border: 1px solid #3d7ab5;
  background-color: #3d7ab5;
  color: #fff;
}
.step__item--active {
  color: #3d7ab5;
  background-color: #fff;
}
.step__num {
  font-size: 12px;
  font-weight: 700;
}
.step__text {
  font-weight: 700;
}
.step__line {
  width: 52px;
  height: 1px;
  background-color: #3d7ab5;
}

.contact__submit {
  position: relative;
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  background-color: #4282B8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.contact__submit::after {
  content: "";
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.contact__submit:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.thank {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .thank__inner {
    padding-inline: 20px;
  }
}
.thank__btn {
  display: inline-block;
  margin: 0;
  margin-bottom: 102px;
}

.wrapper-llll {
  padding-left: 0;
}
@media (max-width: 768px) {
  .wrapper-llll {
    padding-inline: 0;
  }
}/*# sourceMappingURL=style.css.map */