@use "../foundation" as *;

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 22px 35px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    margin-left: 3px;

    // 枠線ボタン
    &--outline {
        border: 1.5px solid $color-text;
        color: $color-text;
        background: transparent;
        position: relative;

    // 黒丸を右端に配置
        &::after {
            content: "●";
            font-size: 10px;
            position: absolute; // 親を基準に配置
            right: 16px;        // 右端から16px
            top: 50%;
            transform: translateY(-50%); // 縦中央に
        }        

        &:hover {
            background: $color-text;
            color: #fff;

            &::after {
               color: #fff; // ホバー時は白丸に
            }

        }

    }

    // 塗りつぶしボタン
    &--primary {
        background: $color-primary;
        color: #fff;
        border: 1.5px solid $color-primary;

        &:hover {
            background: $color-primary-dark;
        }
    }

    &__arrow {
        font-size: 10px;
    }

    &__dot {
        font-size: 8px;
        align-items: center;
    }
}


