@use "../foundation" as *;

// メインコンテンツ
// サイドバーの右側に表示するための設定
.main {
    margin-left: $sidebar-width; // PCはサイドバー分右にずらす
    width: calc(100% - #{$sidebar-width});

    @include tab {
       margin-left: 0; // SPはサイドバーがないので0に
        width: 100%;
        margin-top: 190px;
    }
    @include sp {
        margin-left: 0;
        width: 100%;
    margin-top: 100px;
    }
}

// wrapperはそのまま残す
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;

    @include sp {
       padding: 0 15px; // SPは余白を狭く
    }
}

.wrapper-l {
    padding-left: 0;
    @media (max-width:1230px) {
        padding-inline: 40px;
    }
}

// セクション共通の余白
.section {
    padding: 32px 24px;

    @include sp {
        padding: 40px 0;
    }
}

// 小見出し（日本語ラベル）
.section__label {
    font-size: 24px;
    font-weight: 700;
    color: $color-label;
    margin-bottom: 13px;
}

// セクションタイトル（ABOUT / SERVICE など）
// color: transparent → 塗りを透明に
// -webkit-text-stroke → 輪郭線だけ青に
.section__title {
    font-size: clamp(72px, 10vw, 128px);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px $color-scroll;
    line-height: 1;
    margin-bottom: 40px;
    font-family: $font-kanit;

}